/* 
 * KG Bookmark Card
 * ---------------------------------------------------------- */

.kg-bookmark-card {
    width: 100%;
    margin: 1.5em 0;
}

.kg-bookmark-container {
    display: flex;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    color: #15171a;
}

.kg-bookmark-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    overflow: hidden;
}

.kg-bookmark-title {
    font-size: 1.5rem;
    line-height: 1.4em;
    font-weight: 600;
    color: #15171a;
}

.kg-bookmark-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 1.5em;
    font-weight: 400;
    color: #626d79;
}

.kg-bookmark-metadata {
    display: flex;
    align-items: center;
    margin-top: 14px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #394047;
}

.kg-bookmark-icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    vertical-align: bottom;
}

.kg-bookmark-author {
    display: inline;
}

.kg-bookmark-publisher {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 240px;
    white-space: nowrap;
    display: block;
    line-height: 1.5em;
}

.kg-bookmark-thumbnail {
    position: relative;
    flex-grow: 1;
    min-width: 33%;
}

.kg-bookmark-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 3px 3px 0;
}

/* Dark Mode */
html.dark .kg-bookmark-container {
    background: #191b1f;
    box-shadow: 0 2px 6px -2px rgba(255, 255, 255, 0.1), 0 0 1px rgba(255, 255, 255, 0.4);
    color: #fff;
}

html.dark .kg-bookmark-title {
    color: #fff;
}

html.dark .kg-bookmark-description {
    color: #ccc;
}

html.dark .kg-bookmark-metadata {
    color: #aaa;
}
